<%= form_with(url: "/users/#{params[:user_id]}/followers", local: true) do |f| %>
  <div class="form-group">
    <%= f.text_field :follower_id, value: current_user.id,placeholder:current_user.id,class:"d-none"%>
  </div>
  <br>
  <div class="form-group">
    <%= f.text_field :user_id, value: params[:user_id],placeholder:params[:user_id],class:"d-none"%>
  </div>
  <div class="text-center">
    <%= f.submit 'Yes, Follow!', class: 'btn btn-primary' %>
  </div>
<% end %>
<div class="btn btn-primary">
  <%= link_to 'Back', current_user,style:"text-decoration:none;color:white;"%>
</div>
