<h1>All Users</h1>
<div class="posts">
  <% @users.each do |user| %>
    <% if user_signed_in? %>
      <% if user.id == current_user.id %>
        <%next%>
      <%else%>
        <section class="post">
          <div class="user">
            <div class="avatar">
              <% if user.avatar.attached? %>
                <%= link_to user_path(user.id) do %>
                  <%= image_tag user.avatar %>
                <% end %>
              <% end %>
            </div>
            <div class="description">
              <%= user.name %>
              <strong>Followers &nbsp : &nbsp<%= user.followers.count%></strong>
              <%if user.public == true %>
                <strong>Account is Public</strong>
                <%= link_to 'Go to profile', user_path(user.id)%>
              <%else%>
                <%= link_to 'Go to profile', user_path(user.id)%>
              <%end%>
              <br><br>
              <% if following_check(user.id)%>
                <% if follower_check(user.id)%>
                  <%= link_to 'Unfollow', user_follower_path(user.id, follower_return(user.id)), method: :delete, data: { confirm: 'Are you sure?' } %>
                <%else%>
                  <a href="<%= new_user_follower_path(user.id)%>">
                    <i class="fa fa-user-plus fa-2x m-4"></i>
                  </a>
                <%end%>
              <%else%>
                <a href="<%= new_user_follower_path(user.id)%>">
                  <i class="fa fa-user-plus fa-2x m-4"></i>
                </a>
              <% end %>
            </div>
          </div>
        </section>
      <%end%>
    <%end%>
  <%end%>
</div>
